{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form method="get" class="form-control">
                    {% for field in form %}
                        <div class="my-2">
                            <span class="h6">{{ field.label }}</span>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary my-2">Показать</button>
                </form>
            </div>
            <div class="col-9">
                {% for product in products %}
                    <div class="card mb-3 mx-auto" style="max-width: 1000px;">
                        <div class="row g-0">
                            <div class="col-md-3" style="max-height: 200px;">
                                <img src="{{ product.image.first.image.url }}" class="img-fluid rounded-start h-100"
                                     alt="Фото">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-decoration-none" href="{{ product.get_absolute_url }}">
                                            {{ product.title }}</a></h5>
                                    <p class="card-text">{{ product.description|truncatewords_html:20|safe }}</p>
                                    <p class="card-text">
                                        {% if product.get_avg_rate %}
                                            Оценка: {{ product.get_avg_rate }}
                                        {% else %}
                                            Нет оценок
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                <h5 class="mt-3">{{ product.price }} Р</h5>
                                <form method="post" action="{% url 'basket' %}" class="to_basket"
                                      data-product-id="{{ product.pk }}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-primary"
                                            style="min-width: 90px;">Купить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if page_obj.has_other_pages %}
                    <nav class="mt-5" aria-label="Навигация">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ params }}"
                                       aria-label="Предыдущая">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for p in page_obj.paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <li class="page-item active"><a class="page-link">{{ p }}</a></li>
                                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ p }}{{ params }}">{{ p }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ params }}"
                                       aria-label="Следующая">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            let item_id
            $('.to_basket').submit(function (e) {
                item_id = $(this).attr('data-product-id')
                e.preventDefault()
                $.ajax({
                    type: 'POST',
                    url: `{% url 'add_to_basket' %}`,
                    data: {
                        'item': $(this).attr('data-product-id'),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function () {
                        window.location.href = "{% url 'basket' %}";
                    }
                });
            });
        });

    </script>
{% endblock %}