{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3 mx-auto" style="max-width: 1300px;">
        <div class="row g-0">
            <div class="col-xl-5" style="max-height: 500px;">
                <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in product.image.all %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                <img src="{{ image.image.url }}" class="d-block h-100" alt="Фото"
                                     style="max-height: 500px;">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselImages"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-decoration-none" href="{{ product.get_absolute_url }}">
                            {{ product.title }}</a></h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">
                        {% if product.get_avg_rate %}
                            Оценка: {{ product.get_avg_rate }}
                        {% else %}
                            Нет оценок
                        {% endif %}</p>
                </div>
            </div>
            <div class="col-xl-1 text-center">
                <h5 class="mt-3">{{ product.price }} Р</h5>
                <button class="btn btn-primary" style="min-width: 90px;">Купить</button>
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-auto" style="max-width: 1300px;">
        <div class="row g-0 ps-3 pt-3">
            <div class="row mb-3">
                <div class="col-12">
                    <span class="h4">Отзывы</span>
                    <hr/>
                </div>
            </div>
            {% for review in product.review.all %}
            <p>
                <span class="fw-bold">Автор: </span>{{ review.author }}
            </p>
            <p>
                <span class="fw-bold">Оценка: </span>{{ review.rate }}
            </p>
            <p>
                <span class="fw-bold">Комментарий: </span>{{ review.text }}
            </p>
            <hr/>
            {% endfor %}
        </div>
    </div>
{% endblock %}