{% load mptt_tags %}

<div class="nav-item dropdown me-3">
    <button class="nav-link dropdown-toggle btn btn-secondary text-light py-2 px-4" data-bs-toggle="dropdown"
            data-bs-auto-close="outside" role="button" aria-expanded="false">Каталог
    </button>
    <ul class="dropdown-menu mt-1 dropend">
        {% recursetree categories %}
        <li class="dropdown-item">
            <div class="row" style="min-width: 250px;">
                <div class="col-10">
                    <a class="btn" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                </div>
                <div class="col-2">
                    {% if not node.is_leaf_node %}
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" aria-expanded="false">
                    </button>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                    <ul class="dropdown-menu mt-1 dropend">
                        {{ children }}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endrecursetree %}
    </ul>
</div>